{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
  <div class="post-list">
    {{ $paginator := .Paginate (where .Data.Pages "Type" "posts") }}
    {{ range $paginator.Pages }}
			{{ partial "posts-list-item" . }}
     {{ end }}
  </div>
  {{ partial "pagination.html" . }}
{{ end }}

{{ define "footer" }}
  {{ if .Site.GoogleAnalytics }}
    <!-- Google Analytics -->
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
  {{ partial "footer/font-awesome-js.html" . }}
	<!-- RightMessage -->
	<script type="text/javascript">
	(function(p, a, n, d, o, b) {
			o = n.createElement('script'); o.type = 'text/javascript'; o.async = true; o.src = 'https://tag.rightmessage.com/'+p+'.js';
			b = n.getElementsByTagName('script')[0]; b.parentNode.insertBefore(o, b);
			d = function(h, u, i) { var o = n.createElement('style'); o.id = 'rmcloak'+i; o.type = 'text/css';
					o.appendChild(n.createTextNode('.rmcloak'+h+'{visibility:hidden}.rmcloak'+u+'{display:none}'));
					b.parentNode.insertBefore(o, b); return o; }; o = d('', '-hidden', ''); d('-stay-invisible', '-stay-hidden', '-stay');
			setTimeout(function() { o.parentNode && o.parentNode.removeChild(o); }, a);
	})('43449262', 2500, document);
	</script>
{{ end }}
